:root {
    --strongCyan: hsl(172, 67%, 45%);
    --veryDarkCyan: hsl(183, 100%, 15%);
    --grayishCyan: hsl(184, 14%, 56%);
    --lightGrayishCyan: hsl(185, 41%, 84%);
    --veryLightGrayishCyan: hsl(189, 41%, 97%);
    --white: hsl(0, 0%, 100%);
}

body {
    background-color: var(--lightGrayishCyan);
}


#main-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    height: auto;
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

#main-container-grid {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
}

#logo {
    position: absolute;
    width: 15%;
    height: auto;
    align-self: center;
    bottom: 120%;
}

#main {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 43rem;
    height: auto;
    border: 1px solid transparent;
    border-radius: 15px;
    padding: 20px;
    background-color: var(--white);
}

#inputs {
    position: relative;
    width: 20rem;
    padding: 10px;
    color: var(--grayishCyan);
    letter-spacing: -0.5px;
    font-weight: 700;
    font-size: 14px;
}

#bill-input {
    position: inherit;
}

.input-container {
    position: relative;
    display: flex;
    align-items: center;
}

.input-container p {
    position: absolute;
    z-index: 1;
    margin-left: 3%;
    margin-bottom: 10px;
}

#bill, #num-of-people, #top-choices {
    margin-top: 5px;
}

.input-x {
    width: 100%;
    padding: 10px;
    text-align: right;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 700;
    color: var(--veryDarkCyan);
    border: 1px solid transparent;
    background-color: var(--veryLightGrayishCyan);
}

#tip-choices {
    position: relative;
    margin: 25px 0;
}

#options {
    position: relative;
    display: grid;
    justify-content: space-around;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 45px 45px;
    width: 100%;
    height: auto;
    column-gap: 10px;
    row-gap: 10px;
    margin-top: 8px;
}

.option {
    width: 100%;
    height: auto;
    text-align: center;
    font-size: large;
    border-radius: 5px;
}

.optbutt {
    border: 1px solid transparent;
    background-color: var(--veryDarkCyan);
    color: var(--white);
    font-weight: 700;
}

.optbutt:hover {
    cursor: pointer;
    background-color: var(--strongCyan);
}

#custom-tip {
    width: auto;
    height: inherit;
    padding: 10px;
    border: 1px solid transparent;
    background-color: var(--veryLightGrayishCyan);
}

#right-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 18rem;
    padding: 25px 20px;
    border: 1px solid var(--veryDarkCyan);
    border-radius: 15px;
    background-color: var(--veryDarkCyan);
}

#right-sub-container {
    position: relative;
    width: auto;
}

.tip-values {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1% 0;
}

.tip-legends {
    position: relative;
    width: auto;
    font-size: 10px;
    letter-spacing: 1px;
}

.legends {
    margin: 0;
}

.amt {
    font-size: 12px;
    font-weight: 700;
    color: var(--white);
}

.per {
    color: var(--grayishCyan);
}

.tip-amount {
    font-size: 45px;
    font-weight: 700;
    color: var(--strongCyan);
}

#reset-button {
    position: relative;
    width: 100%;
    text-align: center;
}

.reset {
    width: 98%;
    padding: 10px;
    font-size: medium;
    font-weight: 700;
    border: 1px solid transparent;
    color: var(--veryDarkCyan);
    background-color: var(--strongCyan);
    filter: brightness(0.5);
    margin-bottom: 5px;
    border-radius: 5px;
}

.enabled-reset {
    filter: brightness(1);
    cursor: pointer;
}